<!-- *** FOOTER ***
_________________________________________________________ -->

<!--<footer id="footer">-->
    <!--<div class="container">-->
        <!--<div class="col-md-3 col-sm-6">-->
            <!--<h4>A propos</h4>-->

            <!--<p>[Texte descriptif de la conciergerie].</p>-->

            <!--<hr>-->

            <!--<h4>-->
                <!--Joignez-vous à notre newsletter mensuelle-->
            <!--</h4>-->

            <!--<form>-->
                <!--<div class="input-group">-->

                    <!--<input type="text" class="form-control">-->

                            <!--<span class="input-group-btn">-->

                        <!--<button class="btn btn-default" type="button"><i class="fa fa-send"></i></button>-->

                    <!--</span>-->

                <!--</div>-->
                <!--&lt;!&ndash; /input-group &ndash;&gt;-->
            <!--</form>-->

            <!--<hr class="hidden-md hidden-lg hidden-sm">-->

        <!--</div>-->
        <!--&lt;!&ndash; /.col-md-3 &ndash;&gt;-->

        <!--&lt;!&ndash; /.col-md-3 &ndash;&gt;-->

        <!--<div class="col-md-3 col-sm-6 pull-right">-->

            <!--<h4>Contact</h4>-->

            <!--<p><strong>Maisons du paysan.</strong>-->
                <!--<br>1444 Rue des manguiers-->
                <!--<br>Douala-->
                <!--<br>Cameroun-->

            <!--</p>-->

            <!--<a ui-sref="contact" class="btn btn-small btn-template-main">Nous contacter</a>-->

            <!--<hr class="hidden-md hidden-lg hidden-sm">-->

        <!--</div>-->
        <!--&lt;!&ndash; /.col-md-3 &ndash;&gt;-->

        <!--&lt;!&ndash; /.col-md-3 &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</footer>-->
<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">&copy; {{currentDate | date:'yyyy'}}. Maisons du paysan </p>
            <p class="pull-right"><a href="http://wiicod.com/">Wiicod</a></p>

        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
