
<div class="details-page">
    <div class="content details-page">
        <!---start-product-details--->
        <div class="product-details" style="min-height: inherit">
            <div class="container">
                <div class="details-left" style="width: 100%;">
                    <div class="details-left-info">
                        <div ng-if="message_if" style="margin: 10px auto;padding: 5px 0; color: #7fb082">
                            {{message}}
                        </div>
                        <div class="details-right-head">
                            <form ng-submit="enregistrerCategorie(categorie)">
                                <div class="text">
                                    <div class="text-fild">
                                        <span>Nom:</span>
                                        <input type="text" class="text" required ng-model="categorie.nom" placeholder="Nom de la catégorie">
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="text">
                                    <div class="text-fild">
                                        <span>Image : <span style="color: #7fb082; font-weight: bold;display: inline;" ng-if="image_if">{{new_categorie.images[0].name}}</span></span>
                                        <div ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ngf-drop ngf-select ng-model="files" class="drop-box"
                                             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                                             accept=".png,.jpg"
                                             ngf-pattern="'.png,.jpg'">
                                            {{textimage}}
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="text-fild">
                                        <span>Description:</span>
                                        <textarea  required ng-model="categorie.description" placeholder="Description de la catégorie"> </textarea>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                                <p style="margin-top: 10px;">
                                    <input type="reset" class="p-btn" value="Annuler"/>
                                    <input type="submit" class="p-btn" value="Enregistrer"/>
                                </p>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="details-right hide">

                </div>
                <div class="clearfix"> </div>
            </div>
            <!---//End-product-details--->
        </div>
    </div>
</div>
<!-- /Product-Details-page -->