
<div class="details-page">
    <div class="content details-page">
        <!---start-product-details--->
        <div class="product-details" style="min-height: inherit">
            <div class="container">
                <div class="details-left" style="width: 100%;">
                    <div class="details-left-info">
                        <div ng-if="message_if" style="margin: 10px auto;padding: 5px 0; color: #7fb082">
                            {{message}}
                        </div>
                        <div class="details-right-head">
                            <form ng-submit="enregistrerProduit(new_produit)" enctype="multipart/form-data">
                                <div class="text">
                                    <div class="text-fild">
                                        <span>Nom:</span>
                                        <input type="text" ng-model="new_produit.nom" required class="text" placeholder="Nom du produit">
                                    </div>
                                    <div class="text-fild">
                                        <span>Prix:</span>
                                        <input type="number" min="1" ng-model="new_produit.prix" required class="text" placeholder="Prix">
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="text">
                                    <div class="text-fild">
                                        <span>A contacter:</span>
                                        <input type="number" ng-model="new_produit.acontacter" min="600000000" required class="text" placeholder="Personne à contacter">
                                    </div>
                                    <div class="text-fild">
                                        <span>Localisation:</span>
                                        <input type="text" ng-model="new_produit.localisation" required class="text" placeholder="Localisation">
                                    </div>
                                    <div class="text-fild">
                                        <span>Categorie:</span>
                                        <select class="" ng-model="new_produit.categorie_id" required ng-options="c.id as c.nom for c in categories">
                                        </select>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="text-fild">
                                    <span>Image: <span style="color: #7fb082; font-weight: bold;display: inline;" ng-if="image_if">{{new_produit.images[0].name}}</span></span>
                                    <div ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ngf-drop ngf-select ng-model="files" class="drop-box"
                                         ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                         accept=".png,.jpg"
                                         ngf-pattern="'.png,.jpg'">
                                        {{textimage}}
                                    </div>
                                    {{image}}
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="message-fild">
                                    <span>Description:</span>
                                    <textarea ng-model="new_produit.description" required placeholder="Description"> </textarea>
                                </div>
                                <p style="margin-top: 10px;">
                                    <input type="reset" class="p-btn" value="Annuler"/>
                                    <input type="submit" class="p-btn" value="Enregistrer"/>
                                </p>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="details-right hide">

                </div>
                <div class="clearfix"> </div>
            </div>
            <!---//End-product-details--->
        </div>
    </div>
</div>
<!-- /Product-Details-page -->