
<header>

    <!-- *** TOP ***
_________________________________________________________ -->
    <!--<div id="top">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-5 contact">-->
                    <!--<p class="hidden-sm hidden-xs">Nous contacter au +237 696 870 700 ou support@maisonsdupaysan.com.</p>-->
                    <!--<p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="col-xs-7">-->
                    <!--<div class="social">-->
                        <!--<a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>-->
                        <!--<a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>-->
                        <!--<a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>-->
                        <!--<a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>-->
                    <!--</div>-->

                    <!--<div class="login">-->
                        <!--<a href="/#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Se connecter</span></a>-->
                        <!--<a ui-sref="register"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">S'enregistrer</span></a>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!-- *** TOP END *** -->

    <!-- *** NAVBAR ***
_________________________________________________________ -->

    <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

        <div class="navbar navbar-default yamm" role="navigation" id="navbar">

            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand home" ui-sref="home">
                        <img src="img/logo-mdp-s.png" width="235px" alt="Maison du paysan" class="hidden-xs hidden-sm">
                        <img src="img/logo-mdp-s.png" width="205px" alt="Maison du paysan" class="visible-xs visible-sm">
                        <span class="sr-only">Logo</span>
                    </a>
                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Menu</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a ui-sref="home">Mon site </a>
                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->



                <!--<div class="collapse clearfix" id="search">-->

                    <!--<form class="navbar-form" role="search">-->
                        <!--<div class="input-group">-->
                            <!--<input type="text" class="form-control" placeholder="Search">-->
                                    <!--<span class="input-group-btn">-->

                    <!--<button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>-->

                <!--</span>-->
                        <!--</div>-->
                    <!--</form>-->

                <!--</div>-->
                <!--/.nav-collapse -->

            </div>


        </div>
        <!-- /#navbar -->

    </div>

    <!-- *** NAVBAR END *** -->

</header>

<!-- *** LOGIN MODAL ***
_________________________________________________________ -->


<!-- *** LOGIN MODAL END *** -->
