<!-- Product-Details-page -->
<style type="text/css">
    .details-left-info {
        width: 100%;
    }
    .details-left-slider {
        width: 25%;
    }
    .details-right-head{
        float: left;
        width: 75%;
    }
    .product-details h1{
        padding: 0.5em 0 !important;
    }
    .text-fild{
        width: 100%;
    }
</style>

<div class="details-page" ui-view="content">
    <div class="content details-page">
        <!---start-product-details--->
        <div class="product-details" style="min-height: inherit">
            <div class="container">
                <div class="details-left" style="width: 100%;">
                    <div class="details-left-info">
                        <div ng-if="message_if" style="margin: 10px auto;padding: 5px 0; color: #7fb082">
                            {{message}}
                        </div>
                        <div class="details-right-head" style="width: 100%;">
                            <div style="float: left; width: 75%; margin: 10px auto;">
                                <input type="text" placeholder="Entrer un mot-clé" ng-model="searchKeyProduct" class="input"/>
                            </div>
                            <div style="float: right; width: 20%; margin: 10px auto;">
                                <input type="number" ng-model="par_page" placeholder="Nombre" class="input"/>
                            </div>

                            <table class="table table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Prix</th>
                                    <th>Catégorie</th>
                                    <th>Localisation</th>
                                    <th>A contacter</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="p in produits |filter:searchKeyProduct | orderBy : '-nom' : true| itemsPerPage: par_page ">
                                    <td>{{p.nom}}</td>
                                    <td>{{p.description}}</td>
                                    <td><img src="{{p.imageps[0].image}}" alt="{{p.nom}}" title="{{p.nom}}"/></td>
                                    <td>{{p.prix}}</td>
                                    <td>{{p.categorie.nom}}</td>
                                    <td>{{p.localisation}}</td>
                                    <td>{{p.acontacter}}</td>
                                    <td>
                                        <i class="fa fa-edit" ui-sref="form-produit({id:p.id})"></i>
                                        <i class="fa fa-trash" ng-click="supprimerProduit(p)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-center" >
                                <dir-pagination-controls></dir-pagination-controls>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="details-right hide">

                </div>
                <div class="clearfix"> </div>
            </div>
            <!---//End-product-details--->
        </div>
    </div>
</div>
<!-- /Product-Details-page -->