<div class="col-sm-12">
    <div class="heading text-center">
        <h2>Produits {{categorie}}</h2>
    </div>
</div>

<div class="col-sm-12" ng-if="produits.length>0">
    <div class="form-group col-sm-2">
        <button class="btn btn-template-main" ui-sref="addProduct({nom:categorie})">Ajouter un produit</button>
    </div>
    <div class="form-group col-sm-6" style="margin-left: 13%">
        <input type="text" id="neu" class="form-control" ng-model="searchKey" placeholder="Entrer un mot-clé *">
    </div>
    <div class="form-group col-sm-2 pull-right">
        <input type="number" class="form-control" min="0" step="5" ng-model="par_page" placeholder="Nombre à afficher">
    </div>
    <div class="text-center">{{message}}</div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Prix de gros</th>
                <th>Localisation</th>
                <th>A contacter</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <tr dir-paginate="p in produits | orderBy : '-nom' : true| itemsPerPage:20">
            <td>{{p.nom}}</td>
            <td>{{p.description}}</td>
            <td>{{p.prix}} Fcfa</td>
            <td>{{p.etat}} Fcfa</td>
            <td>{{p.localisation}}</td>
            <td>{{p.acontacter}}</td>
            <td><img src="{{p.imageps[0].image}}" style="max-width: 50px;max-height: 50px;" alt=""/></td>
            <td>
                <a ui-sref="addProduct({id:p.id,nom:p.categorie.nom})"><i class="fa fa-edit"></i></a>
                <a href="" ng-click="supprimerProduit(p)"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
    <div class="text-center" >
        <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>

<div class="col-sm-12" ng-if="produits.length==0">
    <p>Aucun produit dans cette catégorie</p>
    <p><button class="btn btn-template-main" ui-sref="addProduct({nom:categorie})">Ajouter un produit</button> <button class="btn btn-template-main" ui-sref="admin">Retour</button></p>
</div>