<!--- top-nav -->
<div class="top-nav">
    <div class="container">
        <span class="menu" style="font-size: 23px;text-align: center;">Menu</span>
        <ul>
            <li><a ui-sref="accueil">Accueil</a></li>
            <li ng-class="{'active':choix=='liste-categorie'}" ng-click="choix='liste-categorie'; message_if=false"><a href="">Categories</a></li>
            <li ng-class="{'active':choix=='liste-produit'}" ng-click="choix='liste-produit';message_if=false"><a href="">Produits</a></li>
            <li ng-class="{'active':choix=='ajouter-categorie'}" ui-sref="categorie"><a href="">Ajouter catégorie</a></li>
            <li ng-class="{'active':choix=='ajouter-produit'}" ui-sref="produit"><a href="">Ajouter produit</a></li>
            <div class="clearfix"> </div>
        </ul>
    </div>
</div>
<!--- top-nav -->