textarea{
    height: 200px !important;
    resize: none;
}

.search-box {
    float: right !important;
}

.p-btn {
    background: #8b4613;
    background: rgb(126, 169, 14);
    font-family: 'Lora', serif;
    color: #FFF;
    padding: 0.7em 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.875em;
}

.p-btn:hover{
    color:#FFF;
    background:#4f4844;
}

input.p-btn{
    border: none !important;
    color: #fff !important;
}

input,textarea,select,option{
    color: #333 !important;
}

ul.menu li{

}

ul.menu li a{
    padding: 0.8em 0em;
    font-size: 1em;
    color: #655f5b;
    text-decoration: none;
    display: block;
    position: relative;
}

ul.menu li a:hover{
    color: #8b4613;
}

.table img{
    width: 184px;
    height: 93px;
}

.input{
    border:1px solid #b0aaa0;
    border-color: rgb(126, 169, 14);
    background:#f7f6ee;
    background: #dfece1;
    color: #b0aaa0;
    padding: 0.4em 0.6em;
    font-size: 0.875em;
    position: relative;
    width: 100%;
    outline: none;
    text-indent: 13px;
}

.collections img{
    width:100%;
    height:250px;
}

.item{
    cursor: pointer;
}

p{
    color: #080808;
}

.details-left-info .row p{
    color: rgb(126, 169, 14);
    font-size: 1.2em;
}

.bouton{
    background: rgb(126, 169, 14);
    display: inline-block;
    padding: 0.7em 1.2em;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 1em;
    text-decoration: none;
}
.bouton:hover{
    color:#FFF;
    background:#4f4844;
}
a:hover{
    text-decoration: none;
    color: inherit;
}

.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus{
    background: rgb(126, 169, 14);
    border-color: rgba(224, 236, 223, 0.5);
    color: #fff;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
    background: rgb(126, 169, 14);
    border-color: rgba(224, 236, 223, 0.5);
}

.drop-box {
    background: #F8F8F8;
    background: #DFECE1;
    border: 2px dashed #DDD;
    border-color: rgba(126, 169, 14, 0.51);
    width: 500px;
    height: 50px;
    text-align: center;
    padding-top: 11px;
    margin-bottom: 10px;
}

.text{
    margin: 2.5px 0px;
}

select option:first-child{
    display: none;
}