textarea{
    resize: none;
}

#heading-breadcrumbs{
    background: url('../img/banniere1.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

#heading-breadcrumbs h1{
    color: white;
}

#heading-breadcrumbs .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6aae7a;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.owl-controls{
    display: none !important;
}

.home-carousel{
    background: url('../img/portofolio.jpg') no-repeat;
    background-size: cover;
}

.item .col-sm-5{
    margin-top: 50px;
}

.drop-box {
    background: #F8F8F8;
    border: 2px dashed #DDD;
    width: auto;
    height: 71px;
    text-align: center;
    padding-top: 17px;
    margin-bottom: 10px;
}