<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Nouvel utilisateur / Connexion</h1>
            </div>
            <div class="col-md-5 hide">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>New account / Sign in</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Nouveau compte</h2>

                    <p class="lead">Vous n'etes pas encore enregistré?</p>
                    <p>Texte présentant les avantages lorsqu'on est inscri!</p>
                    <p class="text-muted">Si vous avez des questions, sentez vous libre de <a ui-sref="contact">nous contacter</a>, notre service client est là pour vous 24/7.</p>

                    <hr>

                    <form action="customer-orders.html" method="post">
                        <div class="form-group">
                            <label for="name-login">Noms</label>
                            <input type="text" class="form-control" id="name-login">
                        </div>
                        <div class="form-group">
                            <label for="email-login">Email</label>
                            <input type="text" class="form-control" id="email-login">
                        </div>
                        <div class="form-group">
                            <label for="password-login">Mot de passe</label>
                            <input type="password" class="form-control" id="password-login">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-user-md"></i> Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Connexion</h2>

                    <p class="lead">Déjà enregistré?</p>
                    <p class="text-muted">Connectez-vous et profitez !
                        </p>

                    <hr>

                    <form action="customer-orders.html" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Connexion</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
