<!-- top-grids -->
<div class="top-grids">
    <div class="container">
        <div class="col-md-4 top-grid text-center" ng-repeat="c in categorie">
            <div class="top-grid-pic">
                <img src="{{c.image}}" title="Boots" width="320px" height="300px" />
                <span style="display: block">{{c.nom}}</span>
            </div>
            <div class="top-grid-pic-info">
                <a ui-sref="catalogue({categorie:c.nom})">Consulter</a>
            </div>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<!-- top-grids -->
